body {
    background-color: #458CF2;
}

.mainDiv {
    padding: 100px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.863);
    width: 1000px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.todo-input {
    border-radius: 5px;
    border: none;
    padding: 8px;
    width: 360px;

}

.todo-list {
    border-radius: 5px;
    border:solid 1px;
    padding: 40px;
    background-color: rgb(238, 238, 238);
}

.text-line{
    text-decoration:line-through;
}